.row {
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.row .column {
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
    float: left
}

@media only screen and (min-width:601px) {
    .row .column.medium-1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .column.medium-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
}


@media only screen and (max-width:992px) {
    .hide-tablet-down {
        display: none
    }
}

@media only screen and (max-width:600px) {
    .hide-mobile {
        display: none
    }
}

.hide {
    display: none
}

.card {
    border-radius: 5px;
    box-shadow: 0 1px 10px 0 rgba(5, 5, 5, .13)
}

.card .card-header {
    padding: 1.5rem
}

.card .card-header h4 {
    font-weight: 700;
    margin: 0
}

.card .card-img {
    overflow: hidden
}

.card .card-img img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block
}

.card .card-footer {
    padding: 1.5rem 0 1.5rem 1.5rem
}

.card .card-footer h4 {
    font-weight: 700;
    margin: 4px 0 0 0 
}

.card-no-footer .card-img img {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.card-no-header .card-img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.card-hover,
.card-hover:hover {
    transition: all .3s
}

.card-hover:hover {
    box-shadow: 0 0 20px 0 rgba(5, 5, 5, .23)
}

.responsive-image {
    overflow: hidden
}

.responsive-image img{
    width: 100%
}

.m-1 {
    margin: 0.25rem ;
  }
  
  .mt-1,
  .my-1 {
    margin-top: 0.25rem ;
  }
  
  .mr-1,
  .mx-1 {
    margin-right: 0.25rem ;
  }
  
  .mb-1,
  .my-1 {
    margin-bottom: 0.25rem ;
  }
  
  .ml-1,
  .mx-1 {
    margin-left: 0.25rem ;
  }
  
  .m-2 {
    margin: 0.5rem ;
  }
  
  .mt-2,
  .my-2 {
    margin-top: 0.5rem ;
  }
  
  .mr-2,
  .mx-2 {
    margin-right: 0.5rem ;
  }
  
  .mb-2,
  .my-2 {
    margin-bottom: 0.5rem ;
  }
  
  .ml-2,
  .mx-2 {
    margin-left: 0.5rem ;
  }
  
  .m-3 {
    margin: 1rem ;
  }
  
  .mt-3,
  .my-3 {
    margin-top: 1rem ;
  }
  
  .mr-3,
  .mx-3 {
    margin-right: 1rem ;
  }
  
  .mb-3,
  .my-3 {
    margin-bottom: 1rem ;
  }
  
  .ml-3,
  .mx-3 {
    margin-left: 1rem ;
  }
  
  .m-4 {
    margin: 1.5rem ;
  }
  
  .mt-4,
  .my-4 {
    margin-top: 1.5rem ;
  }
  
  .mr-4,
  .mx-4 {
    margin-right: 1.5rem ;
  }
  
  .mb-4,
  .my-4 {
    margin-bottom: 1.5rem ;
  }
  
  .ml-4,
  .mx-4 {
    margin-left: 1.5rem ;
  }
  
  .mt-4-5{
      margin-top: 2.3rem ;
  }
  
  .m-5 {
    margin: 3rem ;
  }
  
  .mt-5,
  .my-5 {
    margin-top: 3rem ;
  }
  
  .mr-5,
  .mx-5 {
    margin-right: 3rem ;
  }
  
  .mb-5,
  .my-5 {
    margin-bottom: 3rem ;
  }
  
  .ml-5,
  .mx-5 {
    margin-left: 3rem ;
  }
  .description{
    line-height: 1.5 ;
}
  